<div>
    <h2>My Course deleted</h2>
    <a href="/me/stored/courses"> Your course</a>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Handle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td><a class="btn btn-link btn-restore" data-id="{{this._id}}" href="">Restore</a></td>
                <td><a class="btn btn-link btn-delete-forever" data-id="{{this._id}}" href="" data-toggle="modal"
                        data-target="#delete-course-modal">
                        Delete forever
                    </a>

                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Empty trash!
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>

</div>
<!-- Hidden-Form -->
<form method="POST" action="" name="restore-course-form">
</form>
<form method="POST" action="" name="delete-course-form">
</form>
<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure delete course!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This course will delete forever!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        var restoreBtn = $('.btn-restore')
        var courseId
        var restoreForm = document.forms['restore-course-form']
        var deleteForm = document.forms['delete-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            courseId = button.data('id') // Extract info from data-* attributes
        });
        restoreBtn.click(function (e) {
            e.preventDefault()
            console.log("Restore" + $(this).data('id'))
            var courseId = $(this).data('id')
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
            restoreForm.submit()
        })


        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
            deleteForm.submit()
        }
    })


</script>